@import 'constants.scss';

footer {
    padding-top: 1px;
    width: 100%;
    //height:350px;
    background-image: url(../img/start-screen-gradient-background.png);
    .footer__content {
      display: flex;
      justify-content: space-between;
      //gap: max(12.5%);
      width: 93.75%;
      margin: 0 auto 0;
      .footer__text-block {
        display: flex;
        gap: 160px;
        margin-right: calc(140 / 1920 * 100vw);
      }
      .footer__content-contacts {
        width: 279px;
        margin: 56px 0 60px;
        @extend %georgia;
        .contacts-title {
          color: $color-light-xl;
          font-size: 35px;
          line-height: 130%;
          letter-spacing: 0.06em;
        }
        .contacts-point {
          display: flex;
          align-items: center;
          margin-top: 40px;
          color: $primary-color;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          a {
            margin-left: 20px;
            color: $primary-color;
            text-decoration: none;
          }
        }
      }
      .footer__content-location {
        width: 302px;
        @extend .footer__content-contacts;
        margin-right: 18px;
        .location-title {
          @extend .contacts-title;
        }
        .location-point {
          display: flex;
          align-items: center;
          @extend .contacts-point;
          margin-top: 30px;
          .footer__link {
            margin-left: 0;
          }
          .location-point-text {
            margin-left: 16px;
          }
          .location-point-icon {
            width: 22px;
            height: 32px;
          }
        }
      }
      img {
        margin-top: 40px;
        //margin-right:40px;
        height: 310px;
        width: 300px;
        align-self: flex-end;
      }
    }
  }