@import 'constants.scss';


@media (max-width: 1279px) {
    body {
      width: 100%;
      margin: 0;
    }
  
    .start-screen {
      //background-image: url(../../assets/images/start-screen-background-768.png);
      padding-top: 30px;
      header {
        width: calc(708 / 768 * 100%);
      }
      .start-screen__content {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        .start-screen__text {
          display: flex;
          flex-direction: column;
          margin-top: 0;
          .start-screen__text-button {
            margin: 42px auto 100px;
          }
        }
        .start-screen_image {
          justify-self: flex-end;
          align-self: flex-end;
          img {
            margin: 0;
            height: 593px;
            width: 569px;
          }
        }
      }
    }
  
    .about {
      width: 100%;
      .about__content {
        flex-direction: column;
        margin: 65px auto;
        align-items: center;
        .about__content-text {
          order: 1;
          margin-left: 0;
          .about__content-title {
            letter-spacing: 0.06em;
          }
          .about__content-description {
            width: calc(430 / 768 * 100vw);
          }
        }
        .about__content-pic {
          order: 2;
          width: 300px;
          height: 408px;
          margin: 90px auto 40px;
        }
      }
    }
  
    .pets {
      .pets__content {
        width: 100%;
        overflow: hidden;
        .pets__content-slider {
          overflow: hidden;
        }
        .pets__content-cards {
          width: calc(580 / 768 * 100%);
          //flex-wrap: nowrap;
          justify-content: flex-start;
          overflow: hidden;
          gap: 40px;
          margin: 0 5px;
          .pets__card {
            margin: 60px 0;
          }
        }
        .pets__content-button {
          width: 260px;
        }
      }
    }
  
    .help {
      .help__content {
        //margin-bottom: 40px;
        .help__content-row1 {
          width: 100%;
          row-gap: 35px;
          column-gap: 60px;
          .content-row__item {
            //margin: 0 30px 35px;
            width: 170px;
  
            row-gap: 0;
            column-gap: 0;
            //background-color: gray;
          }
        }
      }
    }
  
    .donation {
      .donation__content {
        flex-direction: column;
        align-items: center;
        .donation__content-pic {
          height: 261px;
          width: 505px;
          order: 2;
          margin-top: 25px;
        }
        .donation__content-information {
          order: 1;
          width: 380px;
        }
      }
    }
  
    footer {
      .footer__content {
        padding-top: 28px;
        justify-content: center;
        flex-wrap: wrap;
  
        .footer__text-block {
          margin: 10px auto 0;
          gap: 35px;
        }
        .footer__content-contacts,
        .footer__content-location {
          //margin-top:32px;
          width: max(300px);
          margin: 0;
        }
        .location-title,
        .contacts-title {
          width: max(280px);
        }
        img {
          margin-top: 65px;
        }
      }
    }
  }
  
  @media(max-width:768px){
    .popup__container{
      width: 682px;
      height: 402px;
      left: 69px;
      top: 211px;
      overflow-y:visible;
    }
    .popup__content{
      width: 630px;
      height: 350px;
  
    }
    .popup__pic{
      width: 350px;
      height: 350px;
    }
    .popup__title{
      margin-top:10px;
      margin-bottom: 0;
      font-size: 35px;
  line-height: 40px;
    }
    .popup__subtitle{
      margin-top:10px;
      margin-bottom:20px;
    }
    .popup__text{
      width: 260px;
      height: 303px;
      margin-left:11px;
      overflow-y: visible;
    }
  
    .popup__description{
    margin-top:20px;
    margin-bottom:20px;
  }
  .popup__list-item{
    font-weight: 400;
    b{
      font-weight: 700;
    }
  }
  }
  @media (max-width: 767px) {
    body {
      width: 100%;
    }
    .start-screen {
      background-image: url(../img/start-screen-background-768.png);
      header {
        flex-direction: column;
        align-items: center;
        .logo__container {
          width: 100%;
          justify-content: space-between;
          display: flex;
          .header__button {
            display: block;
            align-self: center;
            //margin-left: 43px;
            margin-right: 30px;
          }
        }
  
        nav {
          display: none;
          transform: scaleY(0.01);
          ul {
            flex-direction: column;
            background-color: $color-dark-3xl;
          }
        }
      }
      .start-screen__content {
        .start-screen__text {
          width: calc(300 / 320 * 100vw);
          .start-screen__text-title {
            width: 100%;
            letter-spacing: 00.06em;
            font-size: 25px;
            text-align: center;
          }
          .start-screen__text-text {
            width: calc(300 / 320 * 100vw);
          }
          .start-screen__text-button {
            width: 207px;
          }
        }
        .start-screen_image {
          img {
            margin: 0;
  
            height: auto;
            width: calc(569 / 767 * 100vw);
          }
        }
      }
      .open {
        //display: block;
        transform: scaleY(1);
        transition-duration: 1s;
      }
    }
  
    .start-screen__text-title {
      margin: 0 auto;
    }
    .start-screen__text-text {
      width: calc(460 / 767 * 100vw);
      text-align: center;
      margin: 0 auto;
    }
  
    .navigation__container-mobile {
      //right:0;
      //top:10%;
      color: white;
    }
    .show {
      right: 0;
    }
    .about {
      .about__content {
        width: calc(300 / 320 * 100vw);
        .about__content-pic {
          margin-top: 42px;
        }
        .about__content-text {
          width: calc(300 / 320 * 100vw);
          height: auto;
          .about__content-title {
            font-size: 25px;
            text-align: center;
            line-height: 130%;
            margin: 0 auto 25px;
          }
  
          .about__content-description {
            width: calc(270 / 320 * 100vw);
            text-align: justify;
            margin: 0 auto;
          }
        }
      }
    }
  
    .pets {
      .pets__content {
        .pets__content-title {
          font-size: 25px;
        }
        .pets__content-slider {
          flex-direction: column;
          .slider__arrow {
            display: none;
          }
          .slider__arrows-mobile {
            cursor: pointer;
            height: 52px;
            width: 184px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 42px;
            .slider__arrow {
              display: flex;
            }
          }
          .pets__content-cards {
            justify-content: flex-start;
            //margin-top:42px;
            .pets__card {
              margin-top: 42px;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  
    .help {
      .help__content {
        margin-bottom: 17px;
        .help-title {
          font-size: 25px;
          width: calc(220 / 320 * 100vw);
          line-height: 130%;
          margin-bottom: 32px;
        }
        .help__content-row1 {
          width: calc(300 / 320 * 100vw);
          justify-content: flex-start;
          column-gap: 30px;
          row-gap: 30px;
          .content-row__item {
            font-size: 15px;
            width: 130px;
            height: 95px;
            //margin:10px 15px;
            svg {
              max-width: 50px;
              max-height: 50px;
            }
            p {
              margin-top: 15px;
            }
          }
        }
      }
    }
  
    .donation {
      .donation__content {
        margin-top: 36px;
        margin-bottom: 36px;
        .donation__content-pic {
          width: calc(260 / 320 * 100vw);
          height: auto;
        }
        .donation__content-information {
          width: calc(300 / 320 * 100vw);
          text-align: center;
          .information-title {
            margin: 0 auto;
            font-size: 25px;
            text-align: center;
          }
          .information-subtitle {
            margin-left: 12px;
            letter-spacing: normal;
            width: 273px;
          }
          .information-credit {
            width: 281px;
            font-size: 15px;
            margin: 0 auto;
          }
          .information-text {
            width: 280px;
            margin: 0 auto;
            text-align: justify;
            br {
              display: none;
            }
          }
        }
      }
    }
  
    footer {
      .footer__content {
        .footer__text-block {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
        .footer__content-contacts {
          .contacts-title {
            font-size: 25px;
          }
          margin-bottom: 0;
        }
      }
    }
  }
  
  @media (max-width: 320px) {
    .start-screen {
      header {
        flex-direction: column;
        align-items: center;
        .logo__container {
          width: 100%;
          justify-content: space-between;
          display: flex;
          .header__button {
            display: block;
            align-self: center;
            //margin-left: 43px;
            margin-right: 30px;
          }
        }
  
        nav {
          display: none;
          transform: scaleY(0.01);
          ul {
            flex-direction: column;
            background-color: $color-dark-3xl;
          }
        }
      }
      .start-screen__content {
        .start-screen_image {
          img {
            margin: 0;
  
            height: auto;
            width: calc(260 / 320 * 100vw);
          }
        }
      }
    }
  
    .about {
      .about__content {
        margin-top: 42px;
        margin-bottom: 0px;
        .about__content-pic {
          width: calc(260 / 320 * 100vw);
          height: auto;
        }
      }
    }
  
    .pets {
      .pets__content {
        margin-top: 42px;
        .pets__content-slider {
          .pets__content-cards {
            width: calc(300 / 320 * 100vw);
            margin-left: 33px;
          }
        }
        .pets__content-button {
          margin-bottom: 42px;
        }
      }
    }
    .popup__container{
      width: 271px;
      height: 393px;
      left: 40px;
      top: 169px;
  
    }
  
    .popup__content{
      width: 240px;
      height: 341px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .popup__pic{
      display: none;
    }
    .popup__text{
      margin:10px;
    }
    .popup__title{
      margin-top: 0;
      text-align: center;
      width:220px;
    }
    .popup__subtitle{
      text-align: center;
      width: 220px;
      margin-bottom:20px;
    }
    .popup__description{
      width:220px;
      margin-right:0;
      margin-bottom:20px;
      margin-top:20px;
      font-size: 13px;
      line-height: 110%;
      text-align: justify;
    }
  
    .popup__list{
      margin-left: 10px;
      width:220px;
    }
    .popup__list-item{
      width:220px;
      word-break: break-all;
    }
  
    .help {
      .help__content {
        .help-title {
          width: 261px;
          margin-top: 42px;
        }
      }
    }
  
    footer {
      .footer__content {
        .footer__text-block {
          align-items: center;
          align-content: center;
          justify-content: center;
          justify-items: center;
          margin-top: 0;
          .footer__content-contacts {
            width: calc(300 / 320 * 100vw);
            .contacts-title {
              width: calc(270 / 320 * 100vw);
              margin-left: 16px;
            }
            .contacts-point {
              margin-left: 16px;
            }
          }
          .footer__content-location {
            margin-top: 15px;
            margin-bottom: 40px;
            .location-point {
              margin-top: 35px;
              margin-left: 0;
              .location-point-text {
                margin-left: 16px;
              }
              .nomargin {
                margin: 0;
              }
            }
          }
        }
        .footer__pic {
          margin-top: 0;
          width: calc(260 / 320 * 100vw);
          height: auto;
        }
      }
    }
  }