@import 'constants.scss';
.logo__container {
    .header__button {
      background-color: transparent;
      border: none;
      outline: none;
      transition-duration: 0.5s;
      display: none;
      cursor: pointer;
    }
    .rotated {
      transform: rotate(90deg);
    }
    .logo {
      text-align: center;
  
      .logo__main {
        margin-top: 0;
        margin-bottom: 0;
        color: $primary-color;
        @extend %georgia;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
      }
      .logo__description {
        display: block;
        margin-top: 10px;
        color: $color-light-xl;
        @extend %arial;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
      }
    }
  }

.start-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    background-image: url(../img/start-screen-gradient-background.png);
  
    header {
      //border:1px solid black;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      //max-width:1200px;
      width: 93.75%;
  
      height: 60px;
      nav {
        @extend %arial;
        font-size: 15px;
        line-height: 160%;
  
        ul {
          list-style: none;
          display: flex;
          li {
            //display: inline;
            margin: 0 17.5px;
            a {
              color: $color-dark-s;
              text-decoration: none;
            }
            a:hover {
              color: $color-light-s;
            }
            &:first-of-type {
              margin-left: 0;
            }
            &:last-of-type {
              margin-right: 0;
            }
          }
          .active {
            color: $color-light-s;
            border-bottom: 3px solid $primary-color;
            padding-bottom: 4px;
          }
        }
      }
    }
  
    .start-screen__content {
      width: 93.75%;
      margin: 60px auto 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .start-screen__text {
        //display:inline-block;
        margin-top: 163px;
        width: 460px;
        vertical-align: middle;
        .start-screen__text-title {
          display: block;
          width: 310px;
          color: $color-light-xl;
          @extend %georgia;
          font-size: 44px;
          line-height: 130%;
        }
        .start-screen__text-text {
          margin-top: 42px;
          color: $color-dark-s;
          @extend %arial;
          font-size: 15px;
          line-height: 160%;
        }
        .start-screen__text-button {
          cursor: pointer;
          border-radius: 100px;
          border: none;
          background-color: $primary-color;
          margin-top: 42px;
          height: 52px;
          width: 45%;
          @extend %georgia;
          font-size: 17px;
          line-height: 130%;
          letter-spacing: 0.06em;
          color: $color-dark-3xl;
        }
        .start-screen__text-button:hover {
          background-color: $color-primary-light;
        }
      }
    }
  }

  .navigation__container-mobile {
    .logo__container {
      width: 260px;
      display: flex;
      justify-content: space-between;
      margin-left: 10px;
      margin-top: 30px;
      .header__button {
        display: block;
      }
      .rotated {
        transform: rotate(90deg);
      }
      .logo {
        text-align: left;
      }
    }
    //display:none;
    position: fixed;
    transition-duration: 0.5s;
    top: 0;
    right: -110%;
    width: 320px;
    height: 1024px;
    background-color: $color-dark-3xl;
    .navigation__menu-mobile {
      margin: 0 auto;
      margin-top: 120px;
      width: 100%;
      height: 100%;
  
      ul {
        margin: 0 auto;
        padding: 0;
        color: $color-dark-s;
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        text-decoration: none;
        list-style: none;
        li {
          text-align: center;
          margin: 40px auto;
          a {
            text-decoration: none;
            color: $color-dark-s;
            &:hover {
              color: $color-light-s;
            }
          }
          .active {
            color: $color-light-s;
            border-bottom: 3px solid $color-primary-light;
          }
        }
      }
    }
  }