main 
    .main__title Our friend who <br/> are looking for a house 
    .main__container 
    .main__navigation 
        .main__navigation-unit.first-page.inactive <<
        .main__navigation-unit.prev-page.inactive <
        .main__navigation-unit.current 1
        .main__navigation-unit.next-page >
        .main__navigation-unit.last-page >>