.navigation__container-mobile 
    .logo__container 
        .logo 
            h1.logo__main Cozy House 
            span.logo__description Shelter for pets in Boston
        button.header__button(onclick="document.getElementsByClassName('header__menu')[0].classList.toggle('open')")
            <svg class="header__burger" width="30" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line y1="21" x2="30" y2="21" stroke="#F1CDB3" stroke-width="2" />
                <line y1="11" x2="30" y2="11" stroke="#F1CDB3" stroke-width="2" />
                <line y1="1" x2="30" y2="1" stroke="#F1CDB3" stroke-width="2" />
            </svg>
    .navigation__menu-mobile 
        ul 
            li 
                a(href="../main/index.html") About the shelter 
            li 
                a.active(href="#") Our pets 
            li 
                a(href="../main/index.html#help") Help the shelter 
            li 
                a(href="#contacts") Contacts