doctype
html(lang='en')
    head
        meta(charset='utf-8')

        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="http://fonts.cdnfonts.com/css/arial")
        link(rel="stylesheet", href="http://fonts.cdnfonts.com/css/georgia-2")
        title Cozy House
    body
        include html/main/start-screen
        include html/main/about
        include html/main/pets
        include html/main/help
        include html/main/donation
        include html/main/footer
        script(src="js/app.min.js")