doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet", href="./css/normalize.css")
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="http://fonts.cdnfonts.com/css/arial")
        link(rel="stylesheet", href="http://fonts.cdnfonts.com/css/georgia-2")
        title Cozy House
    body
        include html/pets/header
        .fog.hide 
        include html/pets/nav-mobile
        include html/pets/main
        include html/pets/footer     
        script(src="js/app.min.js")